<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <div class="skip-to-content">
      <a href="#explore">skip</a>
    </div>
    <header>
      <a class="logo" href="">
        <img src="./images/english-id.png" alt="logo">
      </a>

      <nav class="navbar" id="drawer">
        <ul class="nav-list">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a href="#">About Us</a></li>
        </ul>
      </nav>

      <div id="drawer-btn">
        <a class="menu-btn">☰</a>
      </div>
    </header>
    <div class="hero">
      <div class="hero-container">
        <h1 class="hero-title">Bangun Karirmu Sebagai Developer Profesional</h1>
        <p class="hero-tagline">Jadilah tuan rumah di negeri sendiri dengan belajar langsung dari para inovator
          dan developer expert</p>
      </div>
    </div>
    <main>
      <section class="content">
        <div class="explore">
          <h1 tabindex="0" id="explore" class="explore-label">Explore Restaurant</h1>
            <div class="restaurants">
              <article class="rest-item">
                <div class="wraper">
                  <div class="rest-city">
                    <h1>Kota. Bandung</h1>
                  </div>
                  <img class="rest-item__thumb" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun">
                  <div class="rest-item__content">
                    <h2>Rating: 4.2</h2>
                    <h3>Cafe And Resto</h3>
                    <p class="rest-item__city">Kota. Bandung</p>
                    <h1></h1>
                  </div>
                </div>
              </article>

              <article class="rest-item">
                <div class="wraper">
                  <div class="rest-city">
                    <h1>Kota. Bandung</h1>
                  </div>
                  <img class="rest-item__thumb" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun">
                  <div class="rest-item__content">
                    <h2>Rating: <span class="rating">4.2</span></h2>
                    <h3>Cafe And Resto</h3>
                    <p class="rest-item__city">Kota. Bandung</p>
                    <h1></h1>
                  </div>
                </div>
              </article>

              <article class="rest-item">
                <div class="wraper">
                  <div class="rest-city">
                    <h1>Kota. Bandung</h1>
                  </div>
                  <img class="rest-item__thumb" src="https://restaurant-api.dicoding.dev/images/medium/07" alt="Run The Gun">
                  <div class="rest-item__content">
                    <h2>Rating: 4.2</h2>
                    <h3>Cafe And Resto</h3>
                    <p class="rest-item__city">Kota. Bandung</p>
                    <h1></h1>
                  </div>
                </div>
              </article>

            </div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer">
        <a href="#">© Ian Septaina 2023</a>
      </div>
    </footer>
  </body>
</html>
