<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Restaurant Indonesia, Favarite Restaurant, Restaurant Bandung, Restaurant Medan, Restaurant Surabaya" />
    <title>Restaurant Apps</title>
  </head>
  <body>
    <div class="skip-to-content">
      <a href="#explore">skip</a>
    </div>
    <header>
      <a class="logo" href="#">
        <img src="./images/restaurant-id.png" alt="logo restaurantID">
      </a>
      <div tabindex="0" id="drawer-btn">
        <a class="menu-btn" aria-label="menu navigation">☰</a>
      </div>
      <nav class="navbar" id="drawer">
        <ul class="nav-list">
          <li class="nav-item"><a href="index.html">Home</a></li>
          <li class="nav-item"><a href="#">Favorite</a></li>
          <li class="nav-item"><a href="https://www.linkedin.com/in/ian-septiana-3329228a/" target="_blank" rel="noreferrer">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="container">
        <div class="hero-description">
          <h1 class="hero-title">Find Your Favarite Restaurant in Indonesia</h1>
          <p class="hero-tagline">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
    </div>
    <main>
      <section class="content">
        <div class="explore">
          <h2 tabindex="0" id="explore" class="explore-label">Explore Restaurant</h2>
            <div class="restaurants" id="restaurants"></div>
        </div>
      </section>
    </main>
    <footer>
      <div class="footer">
        <a href="#">Copyright &copy 2023 - Ian Septaina </a>
      </div>
    </footer>
  </body>
</html>
