@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700&family=Nunito:wght@200;300;400;500;600;700&family=Quicksand:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

:root {
    --main-color: #E1A90C;
    --bg-color: linear-gradient(to right, #F4C237 , #E1A90C);
    --bg-btn-active: linear-gradient(to right, #056AAD , #045285);
    --font-main: #1A1A1A;
    --font-desc: #363636;
    --color-white :#E5E5E5;
    --font-head : 32px;
    --border-radius: 0.75rem;
    --primary-color: #7257fa;
    --secondary-color: #3c3852;
  }

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: var(--font-main);
    display: flex;
    flex-direction: column;
}
.hide {
  display: none !important;
}
.skip-to-content {
    position: absolute;
    top: -50px;
    left: 0;
    padding: 15px;
    background-color: var(--main-color);
    color: var(--font-main);
    z-index: 2;

}

.skip-to-content:focus {
  top: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: var(--color-white);
    padding: 8px 7%;
    transition: all .50s ease;
    z-index: 1;
}

.logo {
    display: flex;
    align-items: center;
    height: 50px;
    padding-inline: 1rem;
  }
  .logo img {
    height: 18px;
    width: auto;
  }
  
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
    width: 100%;
  }
  
  .nav-list {
    display: flex;
    gap: 1rem;
  }
  
  .nav-item li {
    padding-left: 0;
    padding-right: 0;
  }
  
.nav-item a {
    Display: flex;
    align-items: center;
    font-size: .9rem;
    font-weight: 400;
    padding-left: 1rem;
    padding-right: 1rem;
    color: var(--font-main);
    transition: all .40s ease;
    min-height: 50px;
}
  
.nav-item a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
#drawer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
}
#drawer{
    display: flex;
    align-items: center;
}
  
.menu-btn {
    display: flex;
    align-items: center;
    font-size: var(--font-head);
    font-weight: 600;
    min-height: 50px;
    padding-inline: 10px;
}

.hero .container {
    display: flex;
    align-items: center;
    min-height: 380px;
    text-align: center;
    background-image: url('../public/images/heros/hero-image_4.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-description {
    margin: 0 auto;
    max-width: 800px;
  }
  
.hero-title {
    background-color: black;
    padding-inline: .7rem;
    color: #fff;
    font-weight: 600;
    font-size: 36px;
}
  
.hero-tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}

main {
    width: 100%;
    margin: 0 auto;
    flex: 1;
}

.content {
    padding: 32px;
}

.explore {
    width: 100%;
    margin: 60px auto;
    text-align: center;
}

.explore-label {
    font-size: var(--font-head);
    font-weight: lighter;
}


.explore-label::after {
    content: '';
    margin-top: 16px;
    display: block;
    border-bottom: 1px solid var(--main-color);
  }

.restaurants {
    margin: 32px auto auto;
    display: grid;
    grid-row-gap: 16px;
}

.rest-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
}
.rest-item .wraper{
    position: relative;
}

.rest-city {
    position: absolute;
    top: 3%;
    border: 1px solid var(--main-color);
    background-color: var(--color-white);
}

.rest-city p {
    padding: .5rem;
    color: var(--font-main);
}

.rest-item__thumb {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.rest-item__content {
    text-align: left;
    padding: 0.5rem 1rem;
}

.rest-item__content h2 {
    font-size: 14px;
}


.rest-item__title {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 18px;
    transition: 0.3s opacity;
    text-transform: capitalize;
}

.rest-item__title a {
    text-decoration: none;
    color: #E1A90C;
    padding-block: 15px;
}

.rest-item__title:hover{
    opacity: 0.7;
}

.rest-item__description {
    font-size: 12px;
    line-height: 1.5em;  
}

#container-detail {
    padding: 32px;
}

.rest-detail {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px 18px;
}

.rest-detail__thumb {
    width: 100%;
    max-width: 400px;
}

.detail-label {
    margin-block: 8px;
}

.rest-detail__content {
    display: flex;
    flex-flow: column nowrap;
    gap: .5rem;
}


.rest-detail__content .wraper {
    display: flex;
}

.rest-detail__content .wraper label {
    width: 4rem;
    font-weight: bold;
    padding-inline-end: 0.5rem;
}

.rest-detail__menu h3 {
    padding-block: 1rem;
    text-align: center;
}

.menus {
    display: flex;
    justify-content: space-around;
}

.reviwe {
    width: 100%;
    font-family: "Arial";
    padding: 1rem;
    border-radius: var(--border-radius);
    background: #f1f1f3;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 3%);
    position: relative;
    border-bottom: 1px solid var(--main-color);
    margin-block-end: 0.8rem;
  }
  
  .reviwe > * + * {
    margin-top: 1.1em;
  }

  .customer-reviwes h3 {
    text-align: center;
    padding-block: 1rem;
}
  
  .reviwe .reviwe__content {
    color: var(--secondary-color);
    font-size: 0.86rem;
  }
  
  .reviwe .reviwe__title {
    padding: 0;
  }
  
  .reviwe .reviwe__date {
    color: #6e6b80;
    font-size: 0.8rem;
  }
  
  .reviwe .reviwe__arrow {
    position: absolute;
    background: var(--primary-color);
    padding: 0.4rem;
    border-top-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    bottom: 0;
    right: 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .reviwe:hover .reviwe__title {
    color: var(--primary-color);
    text-decoration: underline;
  }
  

  .comment {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  
  .comment-title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .comment-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .comment-form .group {
    position: relative;
  }
  
  .comment-form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #fff;
    transition: all .3s ease;
  }
  
  .comment-form .group input,
  .comment-form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .comment-form .group input:placeholder-shown+ label, .comment-form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .comment-form .group input:focus,
  .comment-form .group textarea:focus {
    border-color: var(--main-color);
  }
  
  .comment-form .group input:focus+ label, .comment-form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: #fff;
    color: var(--main-color);
    font-weight: 600;
    font-size: 14px;
  }
  
  .comment-form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .comment-form button {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .comment-form button:hover {
    background-color: #27408b;
  }
  
  .like {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #db0000;
    
    position: fixed;
    bottom: 16px;
    right: 16px;
    border-radius: 50%;
    border: 0;
    
    font-size: 18px;
    color: white;
    cursor: pointer;
  }

